<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
        <add key="PYTHONPATH" value="D:\DJANGO313\AccessControl" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="Config.settings" />
        <add key="PRODUCTION" value="True" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="AccessControl313" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\DJANGO313\AccessControl\venv\Scripts\python.exe|D:\DJANGO313\AccessControl\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />
            </authentication>
        </security>
    </system.webServer>

    <location path="AccessControl/api">
        <system.webServer>
            <security>
                <authentication>
                <anonymousAuthentication enabled="true" />
                <windowsAuthentication enabled="false" />
                </authentication>
            </security>
        </system.webServer>
    </location>
</configuration>
