<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
        <add key="PYTHONPATH" value="D:\DJANGO313\Notification" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="config.settings" />
        <add key="PRODUCTION" value="True" />
    </appSettings>    
<system.webServer>
        <handlers>
            <add name="Notification313" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\DJANGO313\Notification\venv\Scripts\python.exe|D:\DJANGO313\Notification\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
                <windowsAuthentication enabled="false" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
